@model System.Collections.Generic.IEnumerable<PracticaAlmacenes.Models.Producto>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fabricante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pcoste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pventa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fabricante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pcoste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pventa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idProducto }) |
                @Html.ActionLink("Details", "Details", new { id = item.idProducto }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idProducto })
            </td>
        </tr>
    }

</table>
